h1 {
    color: rgb(241, 131, 186);
  }
  
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin: 0 100px;
}
.button:hover {
    background-color: white;
    color: black;
}
